<nav class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top">
  <div class="container-fluid">
    <a href="{{ '/' | prepend: site.baseurl }}" class="navbar-brand">  NEPAL AAMA
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav justify-content-end">
   <li class="nav-item"> <a href="{{ '/about' | prepend: site.baseurl }}" class="nav-link">Who we are?</a></li>
   <li class="nav-item"><a href="{{ '/news' | prepend: site.baseurl }}" class="nav-link">News</a></li>
   <li class="nav-item"> <a href="{{ '/about/#objectives' | prepend: site.baseurl }}" class="nav-link">Our Objectives</a></li>
   <li class="nav-item"> <a href="{{ '/about/#donate' | prepend: site.baseurl }}" class="nav-link">DONATE</a></li>

  </ul>
  </div>
</div>
</nav>